signal-generator-pl/
signal-generator-pl.cache/
signal-generator-pl.hw/
signal-generator-pl.xpr
signal-generator-pl.gen
signal-generator-pl.srcs
signal-generator-pl.sim
signal-generator-pl.ip_user_files
signal-generator-pl.runs
*.log
*.jou
*.str
.Xil/
*.swp

.idea
*.xsa
vitis_workspace
